* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.purple-curve {
  background: rgb(233, 66, 255);
  background: linear-gradient(
    180deg,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
  width: 50vw;
  height: 70vh;
  border-bottom-right-radius: 100vh;
}
