* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* BACKGROUND PURPLE CURVE STYLE */
.purple-curve {
  background: rgb(233, 66, 255);
  background: linear-gradient(
    180deg,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
  width: 50vw;
  height: 70vh;
  border-bottom-right-radius: 100vh;
  position: relative;
}

/* MOBILE CONTAINER STYLING */
.mobile-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -4%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* UNCOMMENT BELOW LINE TO SEE WHY THIS CONTAINER IS MADE */
  /* background: #f00; */
}

/* MOBILE OUTER STYLES */
.mobile {
  width: 21.875em;
  height: 75vh;
  background: #f5f3f7;
  border: 0.9375rem solid #fff;
  border-radius: 2em;
}

/* IMG STYLING */
img {
  width: 100%;
}
